<!DOCTYPE html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../static/bootstrap5/css/bootstrap.min.css">
		<script src="../static/jquery-3.2.1.min.js"></script>
		<!--<script src="../static/bootstrap5/popper.js"></script>-->
		<script src="../static/bootstrap5/js/bootstrap.min.js"></script>
		<script src="../static/vue.min.js"></script>
		<script src="../static/echarts.min.js"></script>
	</head>

	<body>

		<div class="container" id="appvue" style="background-color:#F5F5F5;">
	
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
				<a class="navbar-brand" href="#"> THIPPO</a>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item"><a class="nav-link" href="../weight/index.html">体重记录 </a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">财务T</a>
							<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
								<li><a class="dropdown-item" href="anabalancesheet.html">投资分析</a></li>
								<li><a class="dropdown-item" href="balancesheet.html">资产负债表</a></li>
								<li><a class="dropdown-item" href="exchange.html">外汇</a></li>
								<li><a class="dropdown-item" href="presentvalue.html">外汇</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">财务G</a>
							<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
								<li><a class="dropdown-item" href="../wealthggh/anabalancesheet.html">投资分析</a></li>
								<li><a class="dropdown-item" href="../wealthggh/balancesheet.html">资产负债表</a></li>
							</ul>
						</li>
						<!--<li class="nav-item"><a class="nav-link" href="transaction/index.html">投资记录 </a></li>-->
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">投资</a>
							<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
								<li><a class="dropdown-item" href="../invest/tradetiming.html">择时分析</a></li>
								<li><a class="dropdown-item" href="../invest/newstrategy.html">新股策略</a></li>
								<li><a class="dropdown-item" href="../invest/convertiblebond.html">可转债YTM</a></li>
								<li><a class="dropdown-item" href="../invest/newshare.html">七天实践</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">工具箱</a>
							<ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
								<li><a class="dropdown-item" href="../tools/kellycriterion.html">凯利公式</a></li>
								<li><a class="dropdown-item" href="../tools/bitcoinaddress.html">比特币地址</a></li>
								<li><a class="dropdown-item" href="../tools/dailyk.html">日K线</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>

			<div class="progress" style="margin-top:10px;">
				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%;" id="lifebar"></div>
			</div>
	
			</br>
	
			<div class="container">
                <div class="row">
                    <div class="col-1">
                    </div>
                    <div class="col-10">
						<div id="main_accurate" style="width:100%;height:250px;"></div>
                    </div>
                    <div class="col-1">
                    </div>
                </div>

				<div class="row">
					<div class="col-6">
                        <div class="accordion accordion-flush" id="accordionFlushAsset">
                            <div v-for="(item,i) in asset" class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" :data-bs-target="'#'+item[1]" aria-expanded="false" aria-controls="flush-collapseAssetOne">
                                        {{ item[0] }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ Twodot(asset_summary[i]) }}
                                    </button>
                                </h2>
                                <div :id="item[1]" class="accordion-collapse collapse">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr v-for="(itemm,i) in item[2]"><td>{{ itemm[0] }}</td><td>{{ itemm[1] }}</tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
					<div class="col-6">
                        <div class="accordion accordion-flush" id="accordionFlushLiability">
                            <div v-for="(item,i) in liability"  class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                        {{ item[0] }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ Twodot(liability_summary[i]) }}
                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr v-for="(itemm,i) in item[2]"><td>{{ itemm[0] }}</td><td>{{ itemm[1] }}</tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div>

			</br>
			</br>
	
		</div>


		<script>
		var app_vue = new Vue({
			el: '#appvue',
			data: {
                interest_rate: 0.011,
				asset: [
                            ["工资", "Salary", 
                                [
				            	    ["2024-09-26",10800],
				            	    ["2024-10-26",10800],
				            	    ["2024-11-26",10800],
                                ]
                            ],
                            ["HPC会议费报销", "HPCfee", 
                                [
				            	    ["2024-10-26",1900],
                                ]
                            ],
				        ],
				liability: [
                            ["寿险", "LifeInsurance", 
                                [
				            	    ["2024-12-31",6060],
				            	    ["2025-12-31",6060],
				            	    ["2026-12-31",6060],
				            	    ["2027-12-31",6060],
				            	    ["2028-12-31",6060],
				            	    ["2029-12-31",6060],
				            	    ["2030-12-31",6060],
				            	    ["2031-12-31",6060],
				            	    ["2032-12-31",6060],
                                ]
                            ],
        				],
			},
            computed: {
                asset_summary: function(){
                    var sum_list = [];
                    var now_timedate = new Date();
                    for (i=0;i<this.asset.length;i++){
                        sum_lin = 0;
                        for (j=0;j<this.asset[i][2].length;j++){
                            var ddd = new Date(this.asset[i][2][j][0]);
				            diff_second = (ddd-now_timedate)
				            tian = Math.floor(diff_second/(1000*60*60*24)) + 1
                            sum_lin += this.asset[i][2][j][1]/(1+this.interest_rate/365)**tian
                        }
                        sum_list.push(sum_lin)
                    }
                    return sum_list
                },
                liability_summary: function(){
                    var sum_list = [];
                    var now_timedate = new Date();
                    for (i=0;i<this.liability.length;i++){
                        sum_lin = 0;
                        for (j=0;j<this.liability[i][2].length;j++){
                            var ddd = new Date(this.liability[i][2][j][0]);
				            diff_second = (ddd-now_timedate)
				            tian = Math.floor(diff_second/(1000*60*60*24)) + 1
                            sum_lin += this.liability[i][2][j][1]/(1+this.interest_rate/365)**tian
                        }
                        sum_list.push(sum_lin)
                    }
                    return sum_list
                },
                asset_sum: function(){
                    return this.asset_summary.reduce((total, item) => total + item, 0 );
                },
                liability_sum: function(){
                    return this.liability_summary.reduce((total, item) => total + item, 0 );
                },
            },
			methods: {
				Twodot: function(n){
					return n.toFixed(2);
				},
                abc: function(){
					option_accurate = {
  tooltip: {
    trigger: 'item'
  },
  legend: {
    show: false,
  },
      label: {
        show: false,
        position: 'center'
      },
  series: [
    {
      type: 'pie',
      radius: ['40%', '90%'],
      center: ['50%', '70%'],
      // adjust the start and end angle
      startAngle: 180,
      endAngle: 360,
      label: {
        normal: {
          formatter: '{b}\n{c}\n',
            textStyle:{
                fontSize:'20',
            },
        }
      }, 
      data: [
        { value: this.Twodot(this.asset_sum), name: 'PV of Asset' },
        { value: this.Twodot(this.liability_sum), name: 'PV of Liability' },
      ]
    }
  ]
					};
					var myChart_accurate = echarts.init(document.getElementById('main_accurate'));
					myChart_accurate.setOption(option_accurate,true);
                }
			},
		})
		app_vue.abc()
		</script>

		<script>
			var year=new Date().getFullYear();
			var month=new Date().getMonth()+1;
			var date=new Date().getDate();
			s1  =  "1991-2-1";
			s2  =  year+'-'+month+'-'+date;
			day = DateDiff(s1, s2)/36525;
			if (day<0.2){
				$("#lifebar").attr({class:"progress-bar bg-success",style:"width:"+100*day+"%;"});
			} else if (0.2<=day && day<0.4){
				$("#lifebar").attr({class:"progress-bar bg-info",style:"width:"+100*day+"%;"});
			} else if (0.4<=day && day<0.60){
				$("#lifebar").attr({class:"progress-bar",style:"width:"+100*day+"%;"});
			} else {
				$("#lifebar").attr({class:"progress-bar bg-warning",style:"width:"+100*day+"%;"});
			};
			function DateDiff(sDate1, sDate2){  
				var aDate, oDate1, oDate2, iDays;
				aDate = sDate1.split("-");
				oDate1 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]);
				aDate = sDate2.split("-");
				oDate2 = new Date(aDate[1] + '-' + aDate[2] + '-' + aDate[0]);
				iDays = parseInt(Math.abs(oDate1 - oDate2) / 1000 / 60 / 60 /24);
				return iDays;
			};
		</script>

	</body>
	
</html>
